.links {
  display: flex;
  justify-content: flex-start;
  list-style: none;
  color: #00a8ff;
  
  li {
    margin: 0 5px;
  }
  
  a {
    color: #00a8ff;
    text-decoration: none;

    &:hover {
      transition: .4s;
      opacity: .6;
    }
  }
}
