.root {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.title {
  text-transform: uppercase;
  color: #fff;
  margin: 0;
  text-align: center;
  font-size: 2.5rem;
}

.nothing {
  color: #fff;
  font-size: 1.8rem;
  margin: 0 auto;
}