.root {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  margin: 40px 0;
}

.controlBtn {
  width: 3rem;
  background: transparent;
  border: none;
  padding: 0.25rem 0;
  margin: 0 1rem;

  &:hover {
    cursor: pointer;
    background: rgba(255, 255, 255, 0.1)
  }

  &:focus {
    outline: none;
  }
  
  svg {
    fill: #fff;
  }
}

.pages {
  font-size: 1.8rem;
  a {
    color: #fff;
    text-decoration: none;
    padding: 0 5px;

    &:hover {
      text-decoration: underline;
      color: #aaa;
      transition: .4s;
    }
  }
}

.activePage {
  transform: scale(1.4);
  padding: 0 15px;
  a {
    color: #e50914;

    &:hover {
      color: rgba(229, 9, 20, 0.4);
    }
  }
}